


{% block content %}
{% if is_executive %}
<!-- Форма для исполнителей -->
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit">Save changes</button>
</form>
{% else %}
<div class="order-detail">
    <h2>Order Details for #{{ object.id }}</h2>
    <!-- Форма для клиентов -->
    <form method="post">
    {% csrf_token %}
    {{ form.date.label_tag }} {{ form.date }}
    {{ form.time.label_tag }} {{ form.time }}
    {{ form.address.label_tag }} {{ form.address }}
    <button type="submit">Save changes</button>
</form>

<div class="order-detail">

    <p><strong>Date:</strong> {{ object.date_at }}</p>
    <p><strong>Price:</strong> {{ object.price }}</p>
    <p><strong>Prepayment:</strong> {{ object.prepayment }}</p>
    <p><strong>Comment:</strong> {{ object.comment }}</p>
    <p><strong>Responsible:</strong> {{ object.responsible }}</p>
    <p><strong>Confirmation Status:</strong> {{ object.get_confirm_work_display }}</p>
    <p><strong>Name:</strong> {{ object.name }}</p>
    <p><strong>Car Registration:</strong> {{ object.car_registration }}</p>
    <p><strong>Car Year:</strong> {{ object.car_year }}</p>
    <p><strong>Car:</strong> {{ object.car }}</p>
    <p><strong>Service:</strong> {{ object.service }}</p>
    <p><strong>Phone:</strong> {{ object.phone }}</p>
    <p><strong>Address:</strong> {{ object.address }}</p>
    <p><strong>Post Code:</strong> {{ object.post_code }}</p>
    <p><strong>Distance:</strong> {{ object.distance }}</p>
    <p><strong>Creation Date:</strong> {{ object.created_at }}</p>
    <p><strong>Partner:</strong> {{ object.partner }}</p>

    <h3>Payment Status</h3>
    {% if object.is_paid %}
    <span class="paid-status">Paid</span>
    {% else %}
    <span class="not-paid-status">Not Paid</span>
    {% endif %}

    {% if is_executive %}
    <!-- Код для исполнителя или администратора, например, форма редактирования -->
    <h3>Edit Order Detailsmakrup</h3>
    <!-- Тут можете добавить форму редактирования -->
    {% endif %}
    {% if object.payment_status != 'PAID' %}
<div class="payment-section">
    <p>Сумма предоплаты: {{ prepayment_amount }}</p>
    <button type="button" class="btn btn-primary" onclick="initiatePayment()">Оплатить</button>
</div>
{% endif %}
</div></div>
{% endif %}
{% endblock %}
