<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale= 1.0, width= device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{{ static( 'js/vendor.js.css' ) }}">
    <link rel="stylesheet" href="{{ static( 'css/style.css' ) }}">
    <link rel="icon" type="image/x-icon" href="">
  </head>
  <body class="body">
    <div id="app">
      <modals-container></modals-container>
                        <header class="header">
                                            <div class="ug-container ug-container--fit_xl">
                                                                <div class="header__wrapper">
                                                                                          <div class="header__logo">
                                                                                                              <div class="logo"><img class="image" src="{{ static( '/img/logo.png' ) }}"/>
                                                                                                              </div>
                                                                                          </div>
                                                                                          <div class="header__links"><a class="header__item header__item--action" href="mailto:support@anlockers.co"><span class="header__icon"><i class="icon icon--type_envelope"></i></span><span class="header__text">support@anlockers.co</span></a><a class="header__item header__item--action" href="tel:07501793857"><span class="header__icon header__icon--size_1"><i class="icon icon--type_phone"></i></span><span class="header__text">07501793857</span></a><a class="header__item header__item--action" href="#"><span class="header__icon header__icon--size_1"><i class="icon icon--type_emergency"></i></span><span class="header__text">{% trans %}Emergency line{% endtrans %}</span></a>
                                                                                                                    <div class="header__item">
                                                                                                                                              <div class="header__icon header__icon--size_1"><i class="icon icon--type_marker"></i>
                                                                                                                                              </div><span class="header__text">14 Sybil Road, Leicester, LE32EX</span>
                                                                                                                    </div>
                                                                                          </div><a class="header__reviews" href="#" target="_blank"><img class="header__reviews-icon" src="{{ static( '/img/reviews.png' ) }}"/></a>
                                                                </div>
                                            </div>
                        </header>
                        <main class="main" role="main">
                                            <section class="section section--template section--bg" style="background-image: url('{{ static( '/img/template.jpg' ) }}')">
                                                                <div class="ug-container ug-container--fit_xl">
                                                                                    <h1 class="caption caption--size_4 caption--color_white">Lorem ipsum dolor sit amet
                                                                                    </h1>
                                                                </div>
                                            </section>
                                            <section class="section section--offset_lg">
                                                                <div class="ug-container ug-container--fit_xl">
                                                                                    <div class="template">
                                                                                      <p>Lorem ipsum dolor sit amet</p>
                                                                                      <p>Lorem ipsum dolor sit amet</p>
                                                                                      <p>Lorem ipsum dolor sit amet</p>
                                                                                      <h2>title h2</h2><a href="#">link</a>
                                                                                      <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque </blockquote>
                                                                                      <table>
                                                                                        <thead>
                                                                                          <tr>
                                                                                            <td><span>title</span></td>
                                                                                            <td><span>title</span></td>
                                                                                            <td><span>title</span></td>
                                                                                            <td><span>title</span></td>
                                                                                          </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                          <tr>
                                                                                            <td>
                                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euism</p>
                                                                                            </td>
                                                                                            <td>
                                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euism</p>
                                                                                            </td>
                                                                                            <td>
                                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euism</p>
                                                                                            </td>
                                                                                            <td>
                                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euism</p>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>
                                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euism</p>
                                                                                            </td>
                                                                                            <td>
                                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euism</p>
                                                                                            </td>
                                                                                            <td>
                                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euism</p>
                                                                                            </td>
                                                                                            <td>
                                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euism</p>
                                                                                            </td>
                                                                                          </tr>
                                                                                        </tbody>
                                                                                      </table>
                                                                                      <p>Lorem ipsum dolor sit amet</p>
                                                                                      <p>Lorem ipsum dolor sit amet</p>
                                                                                      <h2>title h2</h2>
                                                                                      <ul>
                                                                                        <li>
                                                                                          <p>Lorem ipsum dolor sit amet</p>
                                                                                        </li>
                                                                                        <li>
                                                                                          <p>Lorem ipsum dolor sit amet</p>
                                                                                        </li>
                                                                                        <li>
                                                                                          <p>Lorem ipsum dolor sit amet</p>
                                                                                        </li>
                                                                                      </ul>
                                                                                      <h2>title h2</h2>
                                                                                      <ol>
                                                                                        <li>
                                                                                          <p>Lorem ipsum dolor sit amet</p>
                                                                                        </li>
                                                                                        <li>
                                                                                          <p>Lorem ipsum dolor sit amet</p>
                                                                                        </li>
                                                                                        <li>
                                                                                          <p>Lorem ipsum dolor sit amet</p>
                                                                                        </li>
                                                                                        <li>
                                                                                          <p>Lorem ipsum dolor sit amet</p>
                                                                                        </li>
                                                                                        <li>
                                                                                          <p>Lorem ipsum dolor sit amet</p>
                                                                                        </li>
                                                                                      </ol>
                                                                                    </div>
                                                                </div>
                                            </section>
                        </main>
                        <footer class="footer">
                                            <div class="ug-container ug-container--fit_xl">
                                                                <div class="footer__wrapper">
                                                                                          <div class="footer__item"><a class="footer__link" href="#">{% trans %}Terms and conditions{% endtrans %}</a>
                                                                                          </div>
                                                                                          <div class="footer__item"><a class="footer__link" href="#">{% trans %}Privacy Policy{% endtrans %}</a>
                                                                                          </div>
                                                                                          <p class="footer__copyright">{% trans %}© Copyright 2020 - Anlocker Group Co. Inc. All Rights Reserved{% endtrans %}
                                                                                          </p>
                                                                                          <div class="footer__item"><a class="footer__link" href="https://webcase.com.ua/">Developed by Webcase</a>
                                                                                          </div>
                                                                                          <div class="footer__payment"><img class="footer__payment-image" src="{{ static( '/img/payment.png' ) }}"/>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </footer>
    </div>
  </body>
  <script>
    window.django = {
    catalog: {
      }
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1j7bxeM7gNmU0synoEHGk2LGm1OqmylI"></script>
  <script src="{{ static( 'js/vendor.js' ) }}"></script>
  <script src="{{ static( 'js/main.js' ) }}"></script>
</html>